# Object files (compiled C files)
*.o

# Executables
*.out
a.out

# Libraries (if you create any)
*.so
*.a
assembler_test
*.o
*.am
# Ignore VS Code settings folder (optional but recommended)
.vscode/
